@import 'prefix-free'

html
  background: #cbccc8

body
  background-repeat: no-repeat;
  background: #cbccc8;
  background: radial-gradient(center center, cover cover, white 70%, #bbb 100%)

body > header
  text-align: center
  font-size: 3em
  font-weight: bold
  padding: 20px
  color: #166eb6
  text-shadow: 0.1em 0.1em 0.2em gray 

#term_container
  display_box()
  width: 100%

  box-orient(horizontal)
  box-pack(center)
  box-align(center)